@model IEnumerable<Kamenici.Data.Frame>

@{
    ViewData["Title"] = "New Order";
}

<h1>Select Frame</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            if (item.Available == true)
            {
         <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="CreateOrder" asp-route-frameid="@item.FrameId">Create Order</a>
            </td>
        </tr>
        }
}
    </tbody>
</table>
